body {
    font-family: 'Dosis', sans-serif;
    color: #303132;
    margin: 0;
}

ul {
    list-style-type: none;
}

.red-line {

    height: 5px;
    background-color: #ed265a;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

nav li {
    color: #398790;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 10px;

}

ul.cards {
    padding-left: 0;
}

figcaption.caption {
    display: flex;
    line-height: 21px;
}

figure.card {
    margin: 0 20px;
}

img.asset {
    width: 51px;
    height: 51px;
    margin-right: 20px;
}

li.card-item {
    margin-top: 30px;
}

.caption-title {
    font-size: 25px;
    font-weight: 500;
}

li.card-item a {
    color: #5abfe1;
}

li.card-item a:hover {
    color: #f84768;
}

li.card-item p {
    font-size: 18px;
    line-height: 24px;
}

.prices {
    padding-top: 35px;
    padding-bottom: 10px;
    background-color: #ffc046;
    color: white;
    text-align: center;
}

.section-title h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}


.prices li p {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

hr {
    height: 2px;
    background-color: white;
    border: none;
}

@supports (grid-area: auto) {

    nav {
        grid-area: navigation;
    }

    #gallery {
        grid-area: gallery;
    }

    section.services {
        grid-area: services;
    }

    section.prices {
        grid-area: prices;
    }

    footer {
        grid-area: footer;
    }


    .wrapper {

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
                "navigation"
                "gallery"
                "services"
                "prices"
                "footer";
    }


    #gallery img {
        max-height: 300px;
        width: 100%;
    }


    /*styles for big screen*/
    @media screen and (min-width: 750px){
        .navigation li {
            display: inline;
        }

        ul.cards {
            margin: 100px 220px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        }

        .section-title {
            grid-column: span 3;
            text-align: center;
        }

    }

    @media screen and (min-width: 750px) and (max-width: 1100px) {
        ul.cards {
            margin: 100px 10px;
        }

    }

}



