body {
    font-family: 'Dosis', sans-serif;
    color: #303132;
    margin: 0;
}

.logo {
    position: absolute;
    top: 0;
    left: 3%;
    width: 90px;
    height: 120px;
    z-index: 100;
}


ul {
    list-style-type: none;
}

.red-line {
    height: 5px;
    background-color: #ed265a;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

nav li a {
    color: #398790;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
}

nav li a.active, nav li a:hover {
    color: #F90056;
}

#slider {
    position: relative;
    height: 460px;
}

.slider-image {
    position: absolute;
    height: inherit;
    width: 100%;
    opacity: 0;
    object-fit: cover;
    transition: opacity 3s;
}

.slider-image.active {
    opacity: 1;
}

ul.cards {
    padding-left: 0;
}

.caption {
    display: flex;
    line-height: 21px;
}

img.asset {
    width: 51px;
    height: 51px;
    margin-right: 20px;
}

li.card-item {
    margin-top: 30px;
}

.caption-title {
    font-size: 25px;
    font-weight: 500;
}

li.card-item a {
    color: #5abfe1;
}

li.card-item a:hover {
    color: #f84768;
}

li.card-item p {
    font-size: 18px;
    line-height: 24px;
}


.prices {
    padding-top: 35px;
    padding-bottom: 50px;
    background-color: #ffc046;
    color: white;
    text-align: center;

}

.prices-card-title {
    font-weight: 700;
    font-size: 18px;
}

.section-title . {
    margin-top: 70px;
}
.section-title img {
    text-align: center;
}

.section-title h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
    text-align: center;
}

.prices li p {
    font-size: 20px;
    font-weight: 500;
}

hr {
    height: 2px;
    background-color: white;
    border: none;
}

footer {
    margin: 50px 0;
}

footer h1 {
    color: #389199;
}

.contact-form {
    text-align: center;
}

.contact-form p {
    font-size: 20px;
    font-weight: 500;
}

input, textarea {
    font-size: inherit;
    font-family: inherit;
    color: #A8A8A8;
    width: 97%;
    height: 46px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #D5D5D5;
    border-radius: 5px;
    background-color: #F7F7F7;
    margin: 10px 0;
}

button {
    color: white;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #ed265a;;
    border-radius: 4px;
    background-color: #ed265a;;
    height: 45px;
    width: 160px;
    background-image: url(../assets/asset19.png);
    background-repeat: no-repeat;
    background-position: 17px;

}

button:hover {
    opacity: 0.8;
}

section {
    margin-top: 90px;
}

.contacts {
    margin-bottom: 100px;
}

.contacts ul.cards {
    margin-left: 30px;
}


.contacts img {
    align-items: flex-end;
    width: 29px;
    height: 22px;
    margin-right: 15px;
}

.contacts img.map {
    height: 34px;
    width: 24px;
}

.contacts img.phone {
    width: 25px;
    height: 25px;
}

.contacts img.envelope {
    width: 29px;
    height: 22px;
}

.contacts ul.cards p {
    padding-left: 40px;
}

.shown {

    animation: wave 1s ease-out;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


.fbbutton {
    width: 40px;
    position: absolute;
    left: 10%;
    top: 1%;
}

.fbbutton-bottom {
    position: fixed;
    left: 90%;
    top: 90%;
    transition: top 1.5s, left 1.5s;
}

@media screen and (max-width: 766px) {
    .menu {
        display: none;
    }

    .menu-expanded {
        display: block;
        position: absolute;
        background-color: white;
        width: 100%;
    }

    .navigation-expanded {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .navigation-expanded li {
        padding: 12px 15px;
    }

    .expandable {
        width: 100%;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: right;
    }

    .expandable h2 {
        font-family: Arial, sans-serif;;
        color: #398790;
        font-weight: bold;
        font-size: 14px;
        margin-right: 30px;
    }

    #slider {
        height: 212px;
    }

    .contact-form {
        margin: 70px 30px;
    }
}


/*styles for big screen*/
@media screen and (min-width: 767px) {
    .logo {
        left: 13%;
        height: 210px;
        width: 150px;
    }

    .expandable {
        display: none;
    }

    .navigation {
        margin-right: 200px;
        padding: 12px 0;
        display: flex;
        justify-content: flex-end;
    }

    nav li a {
        color: #398790;
        font-weight: bold;
        font-size: 17px;
        text-transform: uppercase;
        padding: 15px;
        text-decoration: none;
    }

    nav li a.active, nav li a:hover {
        color: #F90056;

    }

    ul.cards {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 8% repeat(3, 28%) 8%;
        grid-template-rows: auto;
        grid-template-areas: ". card-item1 card-item2 card-item3 .";
    }

    .one {
        grid-area: card-item1;
    }

    .two {
        grid-area: card-item2;
    }

    .three {
        grid-area: card-item3;
    }

    .section-title {
        grid-column: span 3;
    }

    .form-fields {
        display: flex;
        height: 180px;
        margin-bottom: 30px;
    }

    div.textarea {
        width: 60%;
        margin-left: 15px;

    }

    .contacts .caption {
        line-height: 21px;
        align-items: center;
    }

    .contact-form {
        margin: 60px 220px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1300px) {
    .navigation {
        margin-right: 10px;
    }

    .navigation li a {
        font-size: 14px;
        padding: 10px 7px;
    }

    .logo {
        left: 3%;
    }


    #slider {
        height: 350px;
    }

    .contact-form {
        margin: 0 70px;
    }
}



